<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401545119886-147li4bakbj48c16hd5nd117unh5m1lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401545119886-147li4bakbj48c16hd5nd117unh5m1lk</string>
	<key>API_KEY</key>
	<string>AIzaSyDjG3ju71vhZaqqfIIFAuCM0HLIUExKLww</string>
	<key>GCM_SENDER_ID</key>
	<string>401545119886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilalfakhro.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-app-f2de2</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-app-f2de2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401545119886:ios:8b183ac12ca307cd43a1df</string>
	<key>DATABASE_URL</key>
	<string>https://food-delivery-app-f2de2.firebaseio.com</string>
</dict>
</plist>